body {
  padding: 20px;
  font-family: 'Josefin Sans';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.activityView, .dayView {
  width: 180px;
  float: left;
  margin-right: 20px;
}

.activityViewList {
  height: 400px;
  width: 170px;
  border: 4px dashed #efefef;
}
.dayView .activityViewList {
  height: 307px;
}

.dayViewInfo {
  width: 120px;
  float: left;
  margin-right: 15px;
}
.dayViewInfo input {
  width: 40px;
}
.dayViewDistribution {
  width: 40px;
  float: left;
  height: 100px;
  margin-bottom: 39px;
  position: relative;
}

.distributionViewItem {
  width: 100%;
}

.distributionViewItem.divider {
  height: 2px;
  background: red;
  position: absolute;
  margin-left: -20%;
  bottom: 30px;
  width: 140%;
}

.distributionViewItem.Break {
  background: rgba(234, 96, 69, 0.7);
}
.distributionViewItem.Presentation {
  background: rgba(248, 202, 77, 0.7);
}
.distributionViewItem.Discussion {
  background: rgba(63, 86, 102, 0.7);
}
.distributionViewItem.Group-Work {
  background: rgba(245, 229, 192, 0.7);
}

.js-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.js-popup {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid lightgreen;
  background-color: white;
  z-index:1002;
  overflow: auto;
}
.activityViewList {
  clear: both;
}

.activityViewItem {
  display: table-row;
}
.activityViewItemLength {
  display: table-cell;
  padding: 1px 3px;
}
.activityViewItemName {
  display: table-cell;
  width: 100%;
  padding: 1px 3px;
}

.activityViewItemName.Break {
  background: rgba(234, 96, 69, 0.7);
  border: 1px #FFA644;
}
.activityViewItemName.Presentation {
  background: rgba(248, 202, 77, 0.7);
  border: 1px #2C594F;
}
.activityViewItemName.Discussion {
  background: rgba(63, 86, 102, 0.7);
  border: 1px #002D40;
}
.activityViewItemName.Group-Work {
  background: rgba(245, 229, 192, 0.7);
  border: 1px #E64661;
}


.agendaViewHeaderButton {
  -moz-box-shadow:inset 1px 0px 0px 0px #adadad;
  -webkit-box-shadow:inset 1px 0px 0px 0px #adadad;
  box-shadow:inset 1px 0px 0px 0px #adadad;
  background-color:#e0e0e0;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #999999;
  display:inline-block;
  margin-bottom: 10px;
  margin-top: 200px;
  color:#777777;
  font-family:'Patua One';
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #e3e3e3;
}.agendaViewHeaderButton:hover {
  background-color:#d1d1d1;
}.agendaViewHeaderButton:active {
  position:relative;
  top:1px;
}



.activityViewHeaderButton {
  -moz-box-shadow:inset 1px 0px 0px 0px #adadad;
  -webkit-box-shadow:inset 1px 0px 0px 0px #adadad;
  box-shadow:inset 1px 0px 0px 0px #adadad;
  background-color:#e0e0e0;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0px;
  border:1px solid #999999;
  display:inline-block;
  margin-bottom: 10px;
  color:#777777;
  font-family:'Patua One';
  font-size:13px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #e3e3e3;
}.activityViewHeaderButton:hover {
  background-color:#d1d1d1;
}.activityViewHeaderButton:active {
  position:relative;
  top:1px;
}
/* This button was generated using CSSButtonGenerator.com */