<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1.0, user-scalable=no, width=device-width" name="viewport">
    <title>Meeting Agenda Builder</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Patua+One|' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.min.js"></script>
    <script src="js/views/agendaView.js"></script>
    <script src="js/controllers/agendaViewController.js"></script>
    <script src="js/views/activityView.js"></script>
    <script src="js/controllers/activityViewController.js"></script>
    <script src="js/views/dayView.js"></script>
    <script src="js/controllers/dayViewController.js"></script>
    <script src="js/views/activityViewList.js"></script>
    <script src="js/controllers/activityViewListController.js"></script>
    <script src="js/views/activityViewItem.js"></script>
    <script src="js/controllers/activityViewItemController.js"></script>
    <script src="js/views/activityDetailView.js"></script>
    <script src="js/controllers/activityDetailViewController.js"></script>
    <script src="js/views/distributionView.js"></script>
    <script src="js/models/idea1model.js"></script>
    <script src="js/lib.js"></script>
    <script src="js/app.js"></script>

    <div class="titleDiv">
      <h1>Meeting Agenda Builder</h1>
    </div>

    <script type="text/html" id="infoActivityTypeTmpl">
      <div class="infoActivity">
        <% for (var i = 0; i < ActivityType.length; ++i) { %>
          <div class="activityViewItemName <%= ActivityType[i].replace(' ', '-') %>"><%= ActivityType[i] %></div>
        <% } %>
      </div>
    </script>

    <script type="text/html" id="agendaViewTmpl">
      <div class="agendaView">
        <div class="activityViewListTarget"></div>
        <div class="agendaViewHeader">
          <button type="button" class="agendaViewHeaderButton">Add day</button>
        </div>
      </div>
    </script>

    <script type="text/html" id="activityViewTmpl">
      <div class="activityView">
        <div class="activityViewHeader">
          <button type="button" class="activityViewHeaderButton">Add activity</button>
        </div>
        <div class="activityViewParkedContainer"><h3>Parked activities</h3></div>

        
        <ul class="activityViewList sortable"></ul>
      </div>
    </script>

    <script type="text/html" id="dayViewTmpl">
      <div class="dayView">
        <div class="dayViewInfo">
          <div>Start time: <input type="text" name="time" class="js-start-time"></div>
          <div>End time: <span class="js-end-time"></span></div>
          <div>Length: <span class="js-total-length"></span></div>
          <div class="js-breaks"></div>
        </div>
        <div class="dayViewDistribution js-distribution"></div>
        <div class="dayViewHeaderContainer"><h3>Day <%= idx+1 %></h3></div>

        <ul class="activityViewList sortable"></ul>
      </div>
    </script>

    <script type="text/html" id="activityItemViewTmpl">
      <li class="activityViewItem">
        <div class="activityViewItemLength"><%= length %></div>
        <div class="activityViewItemName <%= type.replace(' ', '-') %>"><%= name %></div>
      </li>
    </script>

    <script type="text/html" id="activityDetailViewTmpl">
      <div>
      <div class="activityDetailView js-popup">
        <div class="js-popup-header">
          <% if (name) { %>
            Edit "<%= name %>"
          <% } else { %>
            Create activity
          <% } %>
        </div>
        <form class="js-form">
          <div class="form-row error"></div>
          <div class="form-row">
            <label for="input-name">Name</label>
            <input type="text" id="input-name" value="<%= name %>" name="name" placeholder="Coffee break">
          </div>
          <div class="form-row">
            <label for="input-length">Length</label>
            <input type="text" id="input-length" value="<%= length %>" name="length" placeholder="10">
          </div>
          <div class="form-row">
            <label for="input-type">Type</label>
            <select id="input-type" name="typeid">
            <% for (var i = 0; i < ActivityType.length; ++i) { %>
              <option value="<%= i %>" <% if (typeid === i) { %> selected <% } %>><%= ActivityType[i] %></option>
            <% } %>
          </select></div>
          <div class="form-row">
            <label for="input-description">Description</label>
            <textarea name="description" id="input-description" placeholder="Much coffee"><%= description %></textarea>
          </div>

          <div class="form-row action">
            <button type="button" class="js-cancel">Cancel</button>
            <button type="submit" class="js-save">Save</button>
          </div>
        </form>
      </div>
      <div class="js-overlay js-cancel"></div>
      </div>
    </script>

  </body>
</html>

